<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/policy/policy_layout.html}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="robots" content="noindex,nofollow" />

    <link rel="stylesheet" th:href="@{css/common.css?20210331_1}" type="text/css">
    <script type="text/javascript" th:src="@{js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.selectbox-0.3.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.ui.js}"></script>
    <script type="text/javascript" th:src="@{js/common.js}"></script>






    <title>윤리규범</title>
</head>
<body>
<div id="wrap" class="guide">
    <!-- header -->
    <div id="header">
        <div class="top">
            <!-- inwrap -->
            <div class="inwrap">
                <h1><a href="/main.do"><span class="hide">JoongAng Group</span></a></h1>
                <h2>윤리경영</h2>
            </div>
            <!--//inwrap end -->
        </div>
        <div class="headline">
            <h3>그룹 윤리규범</h3>
        </div>
    </div>
    <!--//header end -->

    <!-- container --><!--페이지 내 이동 버튼-->
    <div id="container">
        <div class="totopbox">
            <a th:href="@{/intro.do}" class="link01">신문고</a>
            <a th:href="@{https://integrity.joins.com}" class="link02">청렴센터</a>
            <div class="gotop">TOP</div>
        </div>

        <div class="guidest">
            <div class="contents">
                <ul>
                    <li><a th:href="@{#goto01}">1장. 전 문</a></li>
                    <li><a th:href="@{#goto02}">2장. 청렴한 직무수행</a></li>
                    <li><a th:href="@{#goto03}">3장. 회사자산 및 정보의 보호</a></li>
                    <li><a th:href="@{#goto04}">4장. 협력회사와의 거래 투명성</a></li>
                    <li><a th:href="@{#goto05}">5장. 외부 이해관계자와 부당거래 금지</a></li>
                    <li><a th:href="@{#goto06}">6장. 윤리제보 제도</a></li>
                    <li><a th:href="@{#goto07}">7장. 실천 지침</a></li>
                    <li><a th:href="@{#goto08}">8장. 부 칙</a></li>
                    <li><a th:href="@{#goto09}">별첨. 윤리서약서 양식</a></li>
                </ul>
            </div>

            <!-- sect 1장 -->
            <div class="sect st1">
                <div id="goto01" class="agoto"></div>
                <h2>제1장 전 문</h2>

                <h3>1. 목 적 </h3>
                <p>중앙그룹 임직원이 준수해야 하는 윤리행위 판단의 기본 가이드를 제공함으로써, 제반 업무에 있어 올바른 가치판단의 근거로 삼고, 이를 통해 투명한 의사결정과  지속가능한 경영활동이 이루어지도록 함에 그 목적이 있다.</p>

                <h3>2. 적용대상  </h3>
                <p>본 규정은 중앙그룹의 모든 임직원 및 유관 구성원에게 적용한다 (이하 임직원) </p>

                <h3>3. 의사결정과 행동의 기준 </h3>
                <p>임직원은 본 가이드를 업무관련 의사결정과 가치판단의 기준으로 삼는다. 가이드에 정의되지 않은 사안의 경우에는, 아래의 상식 및 사회통념에 비추어 인정될 수 있는 지에 따라 판단한다</p>
                <ul>
                    <li>(1) 적법성 : 나의 판단과 행동이 사회법규와 회사규정에 맞는 것인가</li>
                    <li>(2) 투명성 : 공사를 구분하고 있으며, 개인의 사적 이해관계는 없는가</li>
                    <li>(3) 보편성 : 다른 임직원도 동일한 상황에서 같은 결정을 할 것인가</li>
                </ul>

                <h3>4. 용어 정의</h3>
                <p>본 가이드에서 사용하는 용어의 정의는 다음과 같다 </p>
                <ul>
                    <li>(1) 임직원 : 회사에 근로를 제공하고 임금을 받는 일체의 임원과 직원을 말하며, 회사와 업무의 일부 또는 전부를 대행하는 계약을 체결한 타회사의 임직원도 사안에 따라 적용대상으로 볼 수 있다</li>
                    <li>(2) 금품 : 현금, 유가증권 ,물품 등 환금성이 있는 경제적인 이익</li>
                    <li>(3) 향응/접대 : 식사, 주류, 스포츠, 오락 등의 수혜 </li>
                    <li>(4) 편의 : 금품이나 향응을 제외한 숙박/교통의 제공과 행사지원 등의 수혜</li>
                    <li>(5) 이해관계자 : 임직원의 업무수행과 관련하여 직/간접적으로 상호 영향을 주고받을 수 있는 외부개인이나 집단을 말한다 <br>(주주 및 투자자, 친인척 및 관할 공공기관 등) </li>
                    <li>(6) 협력회사 : 회사와 계약을 맺고 용역과 서비스를 제공하는 개인이나 법인</li>
                    <li>(7) 공금횡령과 유용 : 공금을 가로채어 자신의 자산으로 삼거나(횡령). 사사로이 다른 용도로 사용하는 것(유용)</li>
                    <li>(8) 회사자산 : 회사가 법적 소유권을 가진 일체의 유무형의 자산을 말하며 물리적 자산, 금융 자산, 지식 자산(저작권 포함), 인적 자산, 통신시스템, 비품, 법인카드, 소모품 및 장비, 경영 관련 정보 등을 포함함</li>
                    <li>(9) 타용도 사용 : 사적인 이익을 위해서 회사의 유형 시설과 무형 서비스를 임의로 사용하는 행위</li>
                    <li>(10) 자산유출 : 회사자산의 개인사용 또는 매각의 목적으로 무단 방출하는 행위 </li>
                    <li>(11) 업무태만 : 직책/직급에 맞는 책임과 의무를 하지 않음으로써 회사에 손실을 끼치는 행위</li>
                    <li>(12) 관리소홀 : 선량한 관리자로서의 주의를 다하지 않음으로써 회사에 손실을 끼치는 행위</li>
                    <li>(13) 불합리한 업무처리 : 특정 이해관계자에게 이익 또는 불이익을 줄 목적으로 정상업무를 지연/방해 또는 거짓보고를 하는 행위</li>
                    <li>(14) 월권행위 : 직책/직급상 하지 말아야 할 일을 하거나, 자기 권한 밖의 일에 관여하여 남의 권한을 침해하는 행위 </li>
                    <li>(15) 성희롱 : 성과 관계 된 말과 행동으로 상대방에게 불쾌감을 주거나 고용상의 불이익 등 유무형의 피해를 주는 행위 </li>
                    <li>(16) 차별대우 : 개인의 배경(학벌/성별/종교/혈연/지연)을 따지고, 부당한 차별을 하는 행위</li>
                    <li>(17) 사회 통념상 인정되는 경우 : 제공자가 자발적인 의도로 행하고, 상호 부담의 없음이 관습상 인정되는 경우로서, 다른 임직원 또는 제3자가 건전한 상식으로 보았을 때, 이해 될 수 있으며 본인 업무를 공정하게 처리할 수 있는 범위이어야 함 </li>
                </ul>
            </div>
            <!--//sect 1장 end -->


            <!-- sect 2장 -->
            <div class="sect st2">
                <div id="goto02" class="agoto"></div>
                <h2>제2장 청렴한 직무수행</h2>

                <h3>1. 근무기강</h3>
                <ul>
                    <li>(1) 회사규정 준수
                        <ol>
                            <li>- 회사의 규정은 투명하고 합리적인 경영활동을 유지하고, 리스크 요인을 사전에 예방하기 위한 회사와 임직원간의 약속이므로 반드시 지켜야 한다 </li>
                            <li>- 업무수행과 관련하여 구체적인 규정, 내규, 지침 및 가이드가 있는 경우에는 반드시 이를 준수하여야 한다 </li>
                            <li>- 미디어 그룹으로서의 언론과 관련한 윤리준수 사항은 그룹의 언론윤리 규정을 준수하도록 한다.</li>
                        </ol>
                    </li>
                    <li>(2) 근무태도 관리
                        <ol>
                            <li>- 근무시간 중에 업무와 무관한 일 또는 개인적인 일을 해서는 안 된다 근무시간 중에 사적인 일로 외출을 해서는 안 되며, 부득이한 경우에 한하여
                                상위 조직장의 승인을 받도록 한다</li>

                            <li>- 업무출장 및 연차 및 대휴/ 조퇴는 직속 보고라인의 사전승인과 인사부서의 확인절차를 거쳐서 시행하여야 한다 </li>

                            <li>- 사원증은 반드시 본인만이 패용하여야 하며, 타인에게 빌려주어 활용토록 해서는 안 된다 </li>
                        </ol>
                    </li>

                    <li>(3) 허위문서의 작성과 보고행위의 금지
                        <ol>
                            <li>- 특정사안과 관련하여, 경영판단의 왜곡을 야기하는 허위작성 및 보고를 금지하며, 개인이력의 변조나 위조를 해서도 안 된다</li>
                        </ol>
                    </li>
                    <li>(4) 임직원 상호간의 금전거래 행위 금지
                        <ol>
                            <li>- 상사 혹은 동료간에 금전대여, 채무보증 및 기타 개인신용을 공여하는 행위를 해서는 안 된다.</li>

                            <li>- 업무와 무관한 개인간의 거래라고는 하나, 이러한 금전거래 및 유사행위는 조직분위기를 와해하며, 회사 직무수행에 지장을 초래하게 된다</li>
                        </ol>
                    </li>
                    <li>(5) 건전한 회식문화의 실천
                        <ol>
                            <li>- 회식은 가급적 1차로 끝내며, 직무수행에 차질을 주지 않을 정도로만 음주하고, 개인의 주량차이를 무시하고 술을 강권하는 행동을 하지 않는다.</li>
                        </ol>
                    </li>
                    <li>(6) 겸업금지
                        <ol>
                            <li>- 임직원은 회사의 허가 없이 다른 직업을 겸할 수가 없다. 특히, 자신의 현행 직무와 관련하여 취득한 정보를 사용하는 겸업이나 부업에 종사함으로써 본업과의 상충발생 및 업무집중도 저하 등 직무의 원활한 수행에 지장을 초래하는 경우에는 겸업이 금지된다 </li>
                        </ol>
                    </li>
                    <li>(7) 임직원의 외부강연
                        <ol>
                            <li>- 임직원이 외부로부터 강연(혹은 강의)요청을 받는 경우에는 강의 제반사항 (강의주제, 직무연관성, 강의료 등)을 회사에 사전 보고해야 하며, 회사로부터 사전승인을 받아야 진행할 수 있다 </li>
                            <li>- 회사는 강연이 임직원의 대외활동에 해당하므로, 해당 강의가 직무수행에 지장을 주지 않고, 회사의 정책에 위배되지 않으며, 업무상 비밀과 정보의 누출이 없다고 판단되는 경우에 한하여 승인 할 수 있다 </li>
                            <li>- 강연료 등 금전적 대가와 관련, 교통비 수준의 금품 또는 사회통념상 인정 될 수 있는 소정의 강의료(혹은 원고료)는 개인이 받을 수 있으나, 과도한 금전의 수수는 문제소지가 있으므로 받지 않도록 해야 한다. </li>
                        </ol>
                    </li>
                </ul>

                <h3>2. 직원간 선물/금품 수수 및 향응접대</h3>
                <p>임직원은 직무와 관련하여 상호간에 금품을 수수할 수 없으며, 사사로이 물질적 인사를 하는 것도 향응에 포함되므로 해서는 안 된다 </p>

                <h3>3. 비윤리적 언행과 성희롱 </h3>
                <ul>
                    <li>(1) 비윤리적 행동의 금지
                        <ol>
                            <li>- 상사 혹은 동료간에 비인격적 발언이나 욕설은 하지 말아야 하며, 직책/직급에 맞는 호칭과 공손한 언어를 사용하여야 한다 </li>
                        </ol>
                    </li>
                    <li>(2) 부당한 차별행위의 금지
                        <ol>
                            <li>- 회사 내에서는 성별/학력/외모/출신지역/혈연에 따른 부당한 차별행위를 해서는 안 되며, 사적인 파벌조성으로 위화감 생성과 근무의욕 저하를 야기해서도 안 된다. </li>
                        </ol>
                    </li>
                    <li>(3) 성희롱 행위 금지
                        <ol>
                            <li>- 성적인 행동과 언사로 상대방이 성적 수치심을 느끼거나 불쾌감을 주는 행위를 해서는 안 된다. </li>
                        </ol>
                    </li>
                </ul>

                <h3>4. 관련 법규 준수</h3>
                <ul>
                    <li>(1) 직장 내 괴롭힘 금지
                        <ol>
                            <li>- 임직원은 법률에서 정한 직장 내 괴롭힘 행위를 금지한다. “직장 내 괴롭힘이란 임직원이 직장에서의 지위 또는 관계 등의 우위를 이용하여 업무상 적정 범위를 넘어 다른 직원에게 신체적·정신적 고통을 주거나 근무환경을 악화시키는 행위를 말한다”</li>
                            <li>- 임직원은 다른 직원뿐만 아니라 협력사 직원에 대하여도 직장 내 괴롭힘 행위를 하여서는 안 된다.</li>
                            <li>- 회사는 신고를 접수하거나 직장 내 괴롭힘 발생 사실을 인지한 경우 조사를 실시하고 조사결과에 따라 관련된 조치를 취한다.</li>
                        </ol>
                    </li>
                    <li>(2) 부정청탁 및 금품등 수수의 금지
                        <ol>
                            <li>- 임직원은 공직자등에게 직접 또는 제3자를 통한 부정청탁을 하지 않는다.</li>
                            <li>- 임직원은 공직자등에게 금품등을 주거나 약속하지 않는다.</li>
                            <li>- 언론사 임직원은 제3자로부터 부정청탁을 받거나 금품등의 수수를 하지않는다.</li>
                            <li>- 언론사 임직원은 제3자로부터 부정청탁을 받거나 금품등을 수수한 경우 즉시 회사에 신고해야 한다.</li>
                        </ol>
                    </li>
                </ul>

                <h3>5. 기타 준수사항</h3>
                <ul>
                    <li>(1) 임직원은 직장인으로서의 품위유지 및 청렴한 자세를 갖추어야 하며, 임직원의 품위를 손상시킬 수 있는 불건전 업소에서의 접대 또는 도박 등 사행성 오락은 하지 않는다. </li>
                    <li>(2) 임직원은 상/하급자 또는 동료의 부정과 비리를 은폐하거나 동조, 묵인해서는 안 되며, 비윤리적인 행위를 발견 시에는 회사에 신고하여, 회사가 합리적인 조치를 취할 수 있도록 해야 한다 </li>
                </ul>
            </div>
            <!--//sect 2장 end -->

            <!-- sect 3장 -->
            <div class="sect st3">
                <div id="goto03" class="agoto"></div>
                <h2>제 3장 회사자산 및 정보의 보호</h2>

                <h3>1. 회사자산의 사용</h3>
                <ul>
                    <li>(1) 임직원은 직무와 무관하게 사적인 용도로 회사의 자산이나 경비, 무형의 서비스를 사용해서는 안 되며, 회사의 용품을 무단반출 해서는 안 된다.</li>
                    <li>(2) 임직원은 회사의 자산을 가족, 지인, 거래처 직원 등 외부인이 부적절하게 사용하도록 해서는 안 된다.</li>
                    <li>(3) 회사공금의 유용 및 횡령행위 금지
                        <ol>
                            <li>- 임직원은 회사예산을 정해진 편성목적 외 다른 목적으로 사용해서는 안 되며, 허위 등 부당한 증빙을 통해서 돈을 청구하는 행위를 해서는 안 된다</li>
                        </ol>
                    </li>
                    <li>(4) 유형자산의 임의 폐기처리 금지
                        <ol>
                            <li>- 회사의 집기, PC등 유형자산을 임의로 폐기하거나 처분해서는 안 되며, 관리부서가 정한 반납절차를 따르도록 한다</li>
                        </ol>
                    </li>
                </ul>

                <h3>2. 회사의 정보, 문서의 취득 및 활용/유출</h3>
                <ul>
                    <li>(1) 회사에 필요한 정보취득
                        <ol>
                            <li>- 대내외 정보의 수집은 윤리 및 법률적 이슈발생이 가능하므로, 유관 법규(개인정보 보호법 등) 및 회사 법무담당의 자문을 통해 진행하여야 한다. 따라서 임의대로 불법적이거나 비윤리적인 방식으로 정보를 수집하는 행위를 해서는 안 된다</li>
                        </ol>
                    </li>
                    <li>(2) 회사정보의 활용/유출
                        <ol>
                            <li>- 회사정보는 직무 이외의 목적으로는 사용 할 수 없는 바, 개인용도로 정보를 활용하는 행위를 해서는 안 되며, 개인 목적으로 사용하지 않더라도, 타인에게 정보를 유출하여 업무와 무관한 사람이 정보를 취득하게 하는 행위도 해서는 안 된다</li>
                        </ol>
                    </li>
                    <li>(3) 회사정보의 폐기
                        <ol>
                            <li>- 회사정보의 폐기는 관련법규(개인정보의 경우) 또는 회사가 정하는 절차에 따르되, 과거자료라도 대외비 또는 중요한 의사결정과 관련한 경영자료의 폐기는 회사의 승인절차를 거쳐 진행하여야 한다</li>
                        </ol>
                    </li>
                </ul>
            </div>
            <!--//sect 3장 end -->


            <!-- sect 4장 -->
            <div class="sect st4">
                <div id="goto04" class="agoto"></div>
                <h2>제 4장 협력회사와의 거래 투명성</h2>

                <h3>1. 공정한 거래유지</h3>
                <ul>
                    <li>(1) 적격한 거래업체에게 동등한 거래기회를 부여하고, 자율경쟁과 투명한 평가절차에 따라 협력회사를 선정해야 한다</li>
                    <li>(2) 이를 위해 임직원은 윤리가이드를 협력회사에게 충분히 안내하고, 동참을 유도해야 한다</li>
                </ul>

                <h3>2. 경조사</h3>
                <ul>
                    <li>(1) 임직원은 협력회사로부터 경조사유 발생에 따른 경조금 수령 혹은 경조물품을 수수하기 위해서 경조내용을 협력회사에 고지해서는 안 된다</li>
                    <li>(2) 경조금은 협력회사로부터 원칙적으로 받지 않도록 하며, 불가피하게 경조금을 수수한 경우라 할지라도, 사회통념상 과도한 금액에 해당하는 경우에는 돌려주도록 한다</li>
                </ul>
                <h3>3. 선물/금품 수수 및 향응요구</h3>
                <ul>
                    <li>(1) 임직원은 직무와 관련하여, 협력회사로부터 현금, 상품권, 유가증권 등 일체의 금전적 혜택의 제공을 요구하거나 받아서는 안 된다</li>
                    <li>(2) 임직원은 협력회사에게 향응이나 접대를 요구하거나 받아서는 안 되며, 향응이나 접대를 조건으로 협력회사와의 거래관계를 유지해서는 안 된다</li>
                </ul>

                <h3>4. 편의제공 요청</h3>
                <ul>
                    <li>(1) 임직원은 협력회사에게 교통수단 및 숙박제공, 행사지원의 비용부담을 요구하거나 수수할 수 없다</li>
                    <li>(2) 임직원의 우월적 위치를 이용하여 협력회사에게 예약대행의 편의제공을 요구해서는 안 된다</li>
                </ul>

                <h3>5. 부당한 거래행위</h3>
                <ul>
                    <li>(1) 협력회사에게 현저히 불리하거나 유리한 동산,부동산 거래 및 금전대차 등 정상적인 거래관계에 영향을 주는 일체의 행위를 해서는 안 된다</li>
                    <li>(2) 회식 또는 행사시 협력회사 직원을 불러내어 비용을 부담시켜서는 안 된다</li>
                    <li>(3) 모든 임직원은 보고나 승인 절차없이 제3자와 구두나 서면으로 임의 계약을 하거나 약속을 해서는 안되며, 기존 계약서 내용을 임의 변경해서는 안 된다.</li>
                    <li>(4) 임직원은 당사자 및 제3자의 이익을 위한 부적절한 계약을 체결하거나 조작하는 행위를 해서는 안 된다.</li>
                </ul>

                <h3>6. 협력회사 경영참여, 지분취득 및 투자행위</h3>
                <p>임직원은 협력회사 직책의 겸직 및 지분취득, 또는 공동투자 참여 등과 같은 임직원 직무수행의 공정성을 해칠 수 있는 행위를 해서는 안 된다.</p>
            </div>
            <!--//sect 4장 end -->


            <!-- sect 5장 -->
            <div class="sect st5">
                <div id="goto05" class="agoto"></div>
                <h2>제 5장 외부 이해관계자와의 부당거래 금지</h2>

                <h3>1. 부당한 거래행위</h3>
                <ul>
                    <li>(1) 주주, 투자자 및 친인척, 관할 공공기관 등 외부 이해관계자는 임직원의 행위에 직간접 영향을 주고 받을 수 있는 바, 임직원은 업무 투명성과 공정성 확보를 위해, 외부 이해관계자와는 부당한 거래를 해서는 안 된다.</li>
                    <li>(2) 임직원은 거래 및 업무편의를 조건으로 외부 이해관계자에게 금품을 요구하거나 또는 제공하는 행위를 해서는 안 된다</li>
                </ul>

                <h3>2. 기타의 행위</h3>
                <p>제5장. 1항에 언급되지 않은 주주, 투자자 및 친인척 등 외부 이해관계자와의 기타 행위에 대한 판단은 제4장의 협력회사 사례를 준용토록 한다.</p>
            </div>
            <!--//sect 5장 end -->


            <!-- sect 6장 -->
            <div class="sect st6">
                <div id="goto06" class="agoto"></div>
                <h2>제 6장 윤리 제보 제도</h2>

                <h3>1. 윤리제보 제도 운영</h3>
                <ul>
                    <li>(1) 그룹 윤리제보 담당부서는 윤리제보 관련 상담, 제보 내용에 대한 사실확인 및 조사를 한다.</li>
                    <li>(2) 제보 사안에 따라 이를 관련 계열사로 조사 및 처리절차를 위임할 수 있다.</li>
                    <li>(3) 사안의 경중, 위반 정도 등을 확인하고 사규에 따라 필요한 조치를 취할 수 있다.</li>
                    <li>(4) 임직원은 아래 위반 사례를 인지한 경우, 윤리제보 홈페이지를 통해 신고할 의무가 있다.
                        <ol>
                            <li>- 업무 관련 금전 부정</li>
                            <li>- 이해 관계자와의 부정한 거래</li>
                            <li>- 직장내 성희롱 및 비윤리적 언행</li>
                            <li>- 회사 자산 및 정보의 유용, 유출</li>
                            <li>- 협력 업체와의 부적절한 관계</li>
                            <li>- 기타 직무 윤리 위반</li>
                        </ol>
                    </li>
                    <li>(5) 	윤리제보 홈페이지를 (<a href="https://jebo.joonganggroup.com" target="_blank">https://jebo.joonganggroup.com</a>)를 기획, 운영한다.
                        <ol>
                            <li>- 윤리제보 홈페이지는 신문고 제보 홈페이지와 ‘부정청탁 및 금품등 수수의 금지’와 관련한 제보를 관리하는 청렴센터 홈페이지로 구분하여 운영한다.</li>
                        </ol>
                    </li>
                </ul>
            </div>
            <!--//sect 6장 end -->



            <!-- sect 7장 -->
            <div class="sect st7">
                <div id="goto07" class="agoto"></div>
                <h2>제 7장 실천 지침</h2>

                <h3>1. 가이드 준수와 신고의무</h3>
                <ul>
                    <li>(1) 임직원은 본 가이드를 행동과 가치판단의 기준으로 삼아 성실히 준수하여야 한다</li>
                    <li>(2) 임직원은 본인은 물론 타인의 행위가 가이드에 위반되는 것을 알게 된 경우, 당해 사실을 회사의 담당 주관부서에 제보(신고)토록 해야 한다</li>
                    <li>(3) 회사는 윤리규범 가이드를 위반한 임직원에 대해서는 사규에 따라 인사위원회를 개최하고, 징계 등 적정한 조치를 취하도록 한다</li>
                    <li>(4) 임직원은 업무상 관련된 이해 관계자들이 윤리규범 가이드를 올바르게 이해하고 준수할 수 있도록 노력한다.</li>
                </ul>
                <h3>2. 제보자 보호</h3>
                <ul>
                    <li>(1) 회사는 제보자(또는 공익신고자) 및 제보관련 참고 진술자의 신분노출을 원칙적으로 금지한다</li>
                    <li>(2) 회사는 제보자 및 참고 진술자가 신고와 관련하여 어떠한 불이익도 받지 않도록 해야 한다</li>
                </ul>

            </div>
            <!--//sect 7장 end -->


            <!-- sect 8장 -->
            <div class="sect st8">
                <div id="goto08" class="agoto"></div>
                <h2>제 8장 부 칙</h2>

                <h3>1. 시행일자</h3>
                <ul>
                    <li>2016. 2. 1 제정함 (2016. 3. 1 시행)</li>
                    <li>2019. 7. 1 개정함</li>
                </ul>

                <h3>2. 담당조직</h3>
                <P>본 가이드 준수 및 실천을 위한 사무국의 역할은 그룹 내 동일 기능을 수행하는 조직이 담당하도록 한다.</P>
                <ul>
                    <li>(본사) 경영감사담당 </li>
                    <li>(계열사) 인사팀 (인사팀이 없는 경우는 관리팀)  </li>
                </ul>
            </div>
            <!--//sect 8장 end -->


            <!-- sect 9장 -->
            <div class="sect st9">
                <div id="goto09" class="agoto"></div>
                <h2>별첨: 윤리서약서 양식</h2>
                <ul>
                    <li>회사는 아래 윤리서약서를 참조하여, 각 회사에 적합한 윤리서약서를 만들어 사용토록 한다.</li>
                </ul>
                <div style="padding:30px 0;"><img src="images/Ethics_Pledge.png" /></div>
            </div>
            <!--//sect 9장 end -->
        </div>


    </div>
    <!--//container end -->

    <!-- footer -->
    <div id="footer">
        <!-- inwrap -->
        <div class="inwrap">
            <div class="copy">Copyright © JoongAng Group All Rights Reserved. </div>
        </div>
        <!--//inwrap end -->
    </div>
    <!--//footer end -->
</div>

</body>
</html>